In [ ]:
# we use 'pandas' for overall data manipulation in this session
# pandas is a very famous python library for data analysis. we can efficiently manipulate, filter and create data using pandas

# data frames are the backbone of pandas
# data frames are the 2 dimensional data structures in pandas

In [1]:
# let us represent a 2 dimensional data structure using python dictionary
people={
    "name":["ram","sita","hari","gita"],
    "email":["ram@gmail.com","sita@gmail.com","hari@gmail.com","gita@gmail.com"],
    "address":["KTM","BKT","PKR","KTM"]
}

In [3]:
import pandas as pd
df=pd.DataFrame(people)
df

   name           email address
0   ram   ram@gmail.com     KTM
1  sita  sita@gmail.com     BKT
2  hari  hari@gmail.com     PKR
3  gita  gita@gmail.com     KTM

In [5]:
df.shape #4 row 3 columns

(4, 3)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4 non-null      object
 1   email    4 non-null      object
 2   address  4 non-null      object
dtypes: object(3)
memory usage: 228.0+ bytes

In [7]:
df.head(2) # first duita data matra dekhauxa

   name           email address
0   ram   ram@gmail.com     KTM
1  sita  sita@gmail.com     BKT

In [8]:
df.tail(2) # last duita data matra dekhauxa

   name           email address
2  hari  hari@gmail.com     PKR
3  gita  gita@gmail.com     KTM

In [47]:
type(df['email']) # series i.e a particular column
# series is a single column of a data frame
# dataframe is a collection of such series

pandas.core.series.Series

In [48]:
# we can also access the column / series using a dot (.) operator
df.email
# but using '.' is not recommended becuz it may conflict with the data frame methods / attributes

0     ram@gmail.com
1    sita@gmail.com
2    hari@gmail.com
3    gita@gmail.com
Name: email, dtype: object

In [49]:
r=df[["name", "email"]] # duita big bracket for multiple column access
type(r)
r

   name           email
0   ram   ram@gmail.com
1  sita  sita@gmail.com
2  hari  hari@gmail.com
3  gita  gita@gmail.com

In [50]:
df.columns

Index(['name', 'email', 'address'], dtype='object')

In [51]:
df.iloc[0] # it gives 1st row of the data frame
# iloc is integer value of location
# we can give rows and columns in the iloc 
# if we want provide multiple rows and multiple columns then they should be enclosed in multiple [[]]

name                 ram
email      ram@gmail.com
address              KTM
Name: 0, dtype: object

In [52]:
df.iloc[1] # 2nd row

name                 sita
email      sita@gmail.com
address               BKT
Name: 1, dtype: object

In [53]:
df.iloc[[0,1]]

   name           email address
0   ram   ram@gmail.com     KTM
1  sita  sita@gmail.com     BKT

In [54]:
df.iloc[[0,1,2]]

   name           email address
0   ram   ram@gmail.com     KTM
1  sita  sita@gmail.com     BKT
2  hari  hari@gmail.com     PKR

In [55]:
df.iloc[0,1]
# here 0 index is for row and 1 index is for column

'ram@gmail.com'

In [56]:
df.iloc[[0,1],1] # here [0,1] is rows and 1 is or column 
# row duita column euta

0     ram@gmail.com
1    sita@gmail.com
Name: email, dtype: object

In [57]:
df.iloc[[0,1],[0,1]]

   name           email
0   ram   ram@gmail.com
1  sita  sita@gmail.com

In [58]:
df.iloc[0:2, 0:2]

   name           email
0   ram   ram@gmail.com
1  sita  sita@gmail.com

In [61]:
# we also have a 'loc' method for a data frame
df.loc[[0,1],["name","email"]]
# yesma integer matra navai yesari string pani use garna milxa

   name           email
0   ram   ram@gmail.com
1  sita  sita@gmail.com

In [63]:
df.loc[0:3, "name":"email"]

   name           email
0   ram   ram@gmail.com
1  sita  sita@gmail.com
2  hari  hari@gmail.com
3  gita  gita@gmail.com

In [88]:
# we can also save the index of our rows
df.set_index("email") # email lai index banako

                level_0  index  name address
email
ram@gmail.com         0      0   ram     KTM
sita@gmail.com        1      1  sita     BKT
hari@gmail.com        2      2  hari     PKR
gita@gmail.com        3      3  gita     KTM

In [93]:
df.set_index("email", inplace=True)
# email lai index ko rup ma set gareko

In [74]:
df

                name address
email
ram@gmail.com    ram     KTM
sita@gmail.com  sita     BKT
hari@gmail.com  hari     PKR
gita@gmail.com  gita     KTM

In [76]:
df.loc[["sita@gmail.com", "hari@gmail.com"], ["name","address"]]

                name address
email
sita@gmail.com  sita     BKT
hari@gmail.com  hari     PKR

In [77]:
df.iloc[[0,1],[0,1]]

                name address
email
ram@gmail.com    ram     KTM
sita@gmail.com  sita     BKT

In [94]:
df.reset_index(inplace=True) 
# this removes the custom indexing and reset to default

In [95]:
df

            email  level_0  index  name address
0   ram@gmail.com        0      0   ram     KTM
1  sita@gmail.com        1      1  sita     BKT
2  hari@gmail.com        2      2  hari     PKR
3  gita@gmail.com        3      3  gita     KTM

In [96]:
df.sort_index()

            email  level_0  index  name address
0   ram@gmail.com        0      0   ram     KTM
1  sita@gmail.com        1      1  sita     BKT
2  hari@gmail.com        2      2  hari     PKR
3  gita@gmail.com        3      3  gita     KTM

In [97]:
df.sort_index(ascending=False)

            email  level_0  index  name address
3  gita@gmail.com        3      3  gita     KTM
2  hari@gmail.com        2      2  hari     PKR
1  sita@gmail.com        1      1  sita     BKT
0   ram@gmail.com        0      0   ram     KTM

In [102]:
# Filtering
print(df["address"]=="PKR" )
# it is just a masking

filt=df["address"]=="PKR"
df[filt]

0    False
1    False
2     True
3    False
Name: address, dtype: bool

            email  level_0  index  name address
2  hari@gmail.com        2      2  hari     PKR

In [103]:
df.loc[filt]

            email  level_0  index  name address
2  hari@gmail.com        2      2  hari     PKR

In [104]:
df.loc[filt,"address"]

2    PKR
Name: address, dtype: object

In [106]:
df.loc[filt,["address","name"]]

  address  name
2     PKR  hari

In [109]:
filt=((df["address"]=="BKT") | (df["name"]=="ram"))
df.loc[filt]

            email  level_0  index  name address
0   ram@gmail.com        0      0   ram     KTM
1  sita@gmail.com        1      1  sita     BKT

In [111]:
df.loc[~filt] # mathi ko bahek
# ~ refers to negate / exclude

            email  level_0  index  name address
2  hari@gmail.com        2      2  hari     PKR
3  gita@gmail.com        3      3  gita     KTM